body {
  font-size: medium;
  margin: 0 auto;
}
.indicator {
  background-color: rgb(243, 232, 230);
  width: 2rem;
}
.rgbBox {
  border: 2px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 20px;
}
.cont {
  justify-content: space-around;
  width: 500px;
  height: 500px;
  border-radius: 20%;
  box-shadow: 0px 0px 20px black;
  margin: auto;
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
}

.all {
  text-align: center;
}
